body {
  background-image: linear-gradient(
    rgb(59,88,93),
    rgb(29,40,42)
    );
    height: 100vh;
    color: rgb(255, 255, 255);
    font-family: sans-serif;
     display: flex;
    flex-direction: column;
    align-items: center;
}

button {
  background-color: inherit;
  color: inherit;
  border: none;
}

img {
  position: relative;
}

#names-like {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 2em 0 1em 0;
}

#button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.button {
  font-size: 1.5em;
  cursor: pointer;
}

.button-nav {
  font-size: 2.5em;
}

.button-player {
  font-size: 4em;
}

#capa1 {
  width: 400px;
}

#playlist-susan {
display: flex;
flex-direction: row;
justify-content: center;
margin: 0.5em 0em 3.5em 0em;
}

#nome-som {
font-size: 1.5em;
font-weight: bold;
}

.claridade {
color: rgb(139, 153, 156);
}

.bi-heart {
color: rgb(139, 153, 156 );
}

#barra-progresso {
background-color: rgb(139, 153, 156);
height: 3px;
width: 100%;
width: var(--progress);
border-radius: 15px;
}

#progresso {
--progress: 0%;
background-color: white;
height: inherit;
width: var(--progress);
border-radius: inherit;
}

#progresso-container{
   cursor: pointer;
}

.button-aleatorio {
  color: rgb(19, 161, 19);
}

.button-repitir {
  color: rgb(19, 161, 19)
}

.curtir{
  color: rgb(106, 12, 12);
}

#time-box {
  display: flex;
  flex: row;
  justify-content: space-between;
  color: rgb(200, 208, 209);
  font-size: smaller;
  margin-top: 0.5em;
}